# Recovery init for Qualcomm onyx (SM8735)

on init
    # Set permissions for block devices
    chown system system /dev/block/bootdevice/by-name/userdata
    chmod 0660 /dev/block/bootdevice/by-name/userdata

    # Create mount points
    mkdir /firmware 0771 root system
    mkdir /bluetooth 0771 root system
    mkdir /dsp 0771 root system
    mkdir /persist 0771 root system
    mkdir /mi_ext 0771 root system

    # F2FS GC on boot
    write /sys/fs/f2fs/dm-9/gc_min_sleep_time 100
    write /sys/fs/f2fs/dm-9/gc_max_sleep_time 60000

on fs
    # Mount firmware partitions
    mount_all /fstab.onyx

    # Symlink firmware for Qualcomm
    symlink /firmware/image /vendor/firmware_mnt
    symlink /bt_firmware/image /vendor/bt_firmware

on property:sys.boot_completed=1
    # Post-boot adjustments
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sde/queue/scheduler cfq

service adbd /system/bin/adbd --root_seclabel=u:r:su:s0
    class core
    socket adbd seqpacket 660 system system
    disabled
    seclabel u:r:adbd:s0

on property:sys.usb.config=adb
    start adbd

on property:sys.usb.config=mtp,adb
    start adbd

on property:sys.usb.ffs.ready=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC $(cat /config/usb_gadget/g1/UDC)
    setprop sys.usb.state ${sys.usb.config}
